.html{
    box-sizing: border-box;
}
*::before, ::after{
    box-sizing: inherit;
}
.body{
    margin: auto;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
}

.body--background{
    background-image: url(../Images/pageBackground.png); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}